body {
    background-color: rgb(209, 209, 209);
    font-size: larger;
}

header {
    position: fixed;
    width: 100%
}

#encabezado {
    padding: 0%;
}


#logo {
    display: flex;
    justify-content: center;
    background-image: url(../imagenes/bg4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#logo{
    height: 400px;
    background-image: url(../imagenes/pano.jpg);
}

#principal {
    padding-top: 20px;
}

#principal img {
    padding: 0%;
}

#beneficios {
    margin-bottom: 40px;
    margin-top: 20px;
}

#iniciar{
    height: 500px;
    margin-bottom: 200px;
    background-image: url(../imagenes/pano.jpg);
}

#registrarse {
    height: 500px;
    margin-bottom: 200px;
    background-image: url(../imagenes/pano.jpg);
}

#registrarse .container {
    height: 60vh;
}

#registrarse .form{
    width: 80%;
}

.formIni,
.formReg {
    margin-top: 200px;
}

.formIni{
    width: 30%;
}

#dondeEncontrarnos{
    padding-top: 100px;
    margin-bottom: 200px;
    background-image: url(../imagenes/pano.jpg);
}

#video{
    padding-top: 50px;
    background-color: rgb(124, 124, 124);
    margin: 0%;
    background-image: url(../imagenes/pano.jpg);
}

#dudas{
    margin-bottom: 100px;
}

#horarios{
    padding-top: 200px;
}
