@import 'variables';

body {
    background-color: rgb(209, 209, 209);
    font-size: larger;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    position: fixed;
    width: 100%
}

#encabezado {
    padding: 0%;
}


#logo {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    background-image: $background;
}


#principal {
    padding-top: 20px;

    img {
        padding: 0%;

    }
}

#beneficios {
    margin-top: 20px;
    @include pt-mb(30px,40px);
    padding-bottom: 30px;
}

#iniciar {
    height: 500px;
    margin-bottom: 200px;
    background-image: $background;

}

.formIni {
    position: relative;
    top: 150px;
    width: 30%;
}

#registrarse {
    @extend #iniciar;

    .form {
        position: relative;
        top: 80px;

        div {
            width: 90%;
            position: relative;
            left: 5%;
        }
    }

}


#dondeEncontrarnos {
    @include pt-mb(100px,200px);
    background-image: $background;
}

#video {
    padding-top: 65px;
    background-image: $background;
}

#vocabulario {
    margin-top: 100px;
}

#horarios {
    @include pt-mb(80px,200px);
    background-image: $background;
}

#calcularRM {
display: flex;
justify-content: center;
padding-top: 40px;

}